@charset "ISO-8859-1";

:root {
	--blanc: #ffffff;
	--bleuFonce: #06375A;
	--bleuClair: #1B5680;
	--orange: #F5B37D;
	--rouge: #D52056;
	--Primarytheme: #1c3659ad:
}

*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.important {
	font-weight: 800;
}

.bando{
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(122,252,23,0) 56%);
}


.menus {
    width: 0px;
    transition: all 1s ease-out;
  
}

.desable{
	transition: all 1s ease-out;
    flex: 0 0 auto;
    width: 15%;
}


.container{
    width: 85%;
}

.contain_80{
    height: 80vh;
}

.contain_50{
    height: 50vh;
}
.dualimgcontainer{
    display: flex;
    width: 100%;
    height: 21em;
    margin-top: 2em;
    justify-content: space-around;
    margin: 9em 2em auto;
}


.dualimgcontainer> img{
	float: left;
    object-fit: cover;
    height: 19em;
}

.dualimgcontainer :nth-child(2){
	margin-left: -20em;
    margin-top: 6em;
    width: 23em;
}

.dualimgcontainer :nth-child(1){
    width: 23em;
}



.imgdecaler{
    right: -32%;
    top: -52%;
}

.navBar{
    height: 4em;
    position: "fixed";
    top:0;
}

.sectionperso{
	height: 30em
	}

.imgPartenaire{
	width: 30%;
	height: 30em;
	margin-bottom: 2em;
	object-fit: cover;
	}
	
	
.scrollElement{
    height: 20em;
    overflow-y: scroll;
   
}
* {
   scrollbar-width: thin;
   scrollbar-color: var(--bleuFonce);
 }

 *::-webkit-scrollbar {
   width: 13px;
 }

 *::-webkit-scrollbar-track {
   background: var(--blanc);
 }

 *::-webkit-scrollbar-thumb {
   background-color:  var(--bleuFonce);
   border-radius: 14px;
   border: 3px double var(--blanc);
 }


.navbar{
	height:60px;
}

.imgLogo {
	height: 55px;
	margin: 55px;
}



.imgAccueil{
	 
            height: 80vh;
            width: 100vw;
            object-fit: cover;
}

.card {
    overflow: hidden;
    text-align: center;
    min-width: 22%;
    margin: 1px;
}

.card-header {
    background-color: #1C3659;
    text-align: center;

}

.card-body {
    color: white;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-footer {
    background-color: #1C3659;
    color: white;
    text-align: center;

}

.imgIllu {
	height: 35vw;
	width: 100%
}

       

.rgpd{
            position: fixed;
            top: 0px; right: 0px;
            background-color: rgba(0,0,0,0.32);
            width: 100vw; height: 100vh;
            align-items: center;
            justify-content: center;
        }

.tatifCard{
            min-width: 22%;

        }

.Intituledelement {

           padding-right: 2em;
           transform: rotate(270deg);
        }



@media screen and (min-width: 1400px){
    .dualimgcontainer{
   
    height: 21em;
   
    }

  /*  .dualimgcontainer> img{
        position: relative;
        height: 21em;
        width: 34%;
    }*/
    
    .desable{
	transition: all 1s ease-out;
    flex: 0 0 auto;
    width: 10%;
}

    .contain{
        height: 80vh;
    }

}

/* **********************************************  A replacer**************** Désolé Loic, je ne savais pas où les mettre */
.img_index{
	max-width: 50%;
	max-height: 50%;
}

.img_index_content{
	max-width: 100%;
	max-height: 100%;
	border: solid 2px
}

.index_navbar{
	position: fixed;
	top: 0px;
	z-index: 9999;
	background-color: var(--bleuFonce);
}

.index_slogan{
	font-size : 1.25rem;
	margin:auto 2%;
	
	
	color: var(--orange);
	text-align: center;
}

.plateform_logo{
	display: inline-block;
}
.mainform{
	height: 85vh; 
	width: 100vw
}

.cardAbonnement{

	  background-color: #ffffffad;
	  backdrop-filter: blur(2px);
	margin:2em auto;
	margin-top: 2em;
    display: flex;
    width: 33%;
    backdrop-filter: blur(2px);
    /* height: 18em; */
    flex-direction: column;
    align-items: center;
    padding: 1em;
    
    box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-webkit-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-moz-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
		
}


.cardAbonnement:hover {
	
	backdrop-filter: blur(2px);
    background-color: #1c3659ad;
    color: white;
	font-weight: 700;
	
}

.contain-ad{
	padding-bottom: 16em;
    height: 53em;
}

.cardAbonnement>h3{
    margin-bottom: 1em;	
}

.containerLogos{
	
	background-color:var(--orange);
	
}

.tarifTitre{
	    color: #1c3659;
    	font-weight: 900;
}


.cardAbonnement:hover .tarifTitre{
	    color:var(--orange);
    	font-weight: 900;
}

.titre2{
	
	color:var(--orange);
	margin:1em 0
}

.bigFont{
	text-transform: uppercase;
	font-size: 5rem;
}

.titre3{
	color:var(--bleuFonce);
	margin:1em 0
}

.blured{	
	backdrop-filter: blur(2px);
    background-color: #1c3659ad;
    color: white;
}

.containerLogo{
	background-color: var(--orange);
	
}



.plateform_Button {
	background: rgb(2,0,36);
    background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(37,65,103,1) 100%);
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: var(--orange);
    font-family: Arial;
    font-size: 21px;
  
    padding: 14px 24px;
    text-decoration: none;
 
}
.plateform_Button:hover {
	background-color:#001ecc;
	color:white
}
.plateform_Button:active {
	position:relative;
	top:1px;
}
