@charset "ISO-8859-1";

:root {
	--blanc: #ffffff;
	--bleuFonce: #06375A;
	--bleuClair: #1B5680;
	--orange: #F5B37D;
	--rouge: #D52056;
}

*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.important {
	font-weight: 800;
}

.bando{
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(122,252,23,0) 56%);
}


.menus {
    width: 0px;
    transition: all 1s ease-out;
  
}

.desable{
	transition: all 1s ease-out;
    flex: 0 0 auto;
    width: 15%;
}


.container{
    width: 85%;
}

.contain_80{
    height: 80vh;
}

.contain_50{
    height: 50vh;
}
.dualimgcontainer{
    display: flex;
    width: 100%;
    height: 21em;
    margin-top: 2em;
    justify-content: space-around;
}


.dualimgcontainer> img{
	padding: 14em auto;
    float: inline-start;
    object-fit: cover;
    height: 20em;
    width: 43%;
}


.imgdecaler{
    right: -32%;
    top: -52%;
}

.imgdecaler2{
       margin: 3em 2em 0 -18em;
}



.navBar{
    height: 4em;
    position: "fixed";
    top:0;
}

.sectionperso{
	height: 30em
	}

.imgPartenaire{
	width: 30%;
	height: 30em;
	margin-bottom: 2em;
	object-fit: cover;
	}
	
	
.scrollElement{
    height: 16em;
    overflow-y: scroll;
}
* {
   scrollbar-width: thin;
   scrollbar-color: var(--bleuFonce);
 }

 *::-webkit-scrollbar {
   width: 13px;
 }

 *::-webkit-scrollbar-track {
   background: var(--blanc);
 }

 *::-webkit-scrollbar-thumb {
   background-color:  var(--bleuFonce);
   border-radius: 14px;
   border: 3px double var(--blanc);
 }


.navbar{
	height:60px;
}

.imgLogo {
	height: 55px;
	margin: 55px;
}



.imgAccueil{
	 
    height: 80vh;
    width: 100vw;
    object-fit: cover;
}

.card {
    overflow: hidden;
    text-align: center;
    min-width: 22%;
    margin: 1px;
}

.card-header {
    background-color: #1C3659;
    text-align: center;

}

.card-body {
    color: white;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-footer {
    background-color: #1C3659;
    color: white;
    text-align: center;

}

.imgIllu {
	height: 35vw;
	width: 100%
}

       

.rgpd{
            position: fixed;
            top: 0px; right: 0px;
            background-color: rgba(0,0,0,0.32);
            width: 100vw; height: 100vh;
            align-items: center;
            justify-content: center;
        }

.tatifCard{
            min-width: 22%;

        }

.Intituledelement {

           padding-right: 2em;
           transform: rotate(270deg);
        }
        
        .subtitle{

        float: left;
    /* display: contents; */
    position: absolute;
    /* margin: 1em; */
    top: 65vw;
    background-color: black;
    padding: 3px 15px;
    left: 8vw;
    font-size: 1vw;

}



@media screen and (min-width: 1400px){
    .dualimgcontainer{
        position: absolute;
        height: 21em;
        display: block;
         width: inherit;
        height:inherit;
         margin-top:inherit;
    }

 
	.imgdecaler2{
   		margin: -16em 9em;
	}
    
    .desable{
		transition: all 1s ease-out;
		flex: 0 0 auto;
    	width: 10%;
	}

    .contain{
        height: 80vh;
    }
    
    .subtitle{

        float: left;
    /* display: contents; */
    	position: absolute;
    /* margin: 1em; */
    	top: 11.5vw;
    	background-color: black;
   	 	padding: 3px 15px;
    	left: 46vw;
    	font-size: 1vw;
	}

}

/* **********************************************  A replacer**************** Désolé Loic, je ne savais pas où les mettre */
.img_index{
	max-width: 50%;
	max-height: 50%;
}

.img_index_content{
	max-width: 100%;
	max-height: 100%;
	border: solid 2px
}

.index_navbar{
	position: fixed;
	top: 0px;
	z-index: 9999;
	background-color: var(--bleuFonce);
}

.index_slogan{
	font-size : 1.25rem;
	margin:auto 2%;
	
	
	color: var(--orange);
	text-align: center;
}

.plateform_logo{
	display: inline-block;
}

.cardAbonnement{
	background-color:white;
	margin:2em auto;
	margin-top: 2em;
    display: flex;
    width: 22%;
    /* height: 18em; */
    flex-direction: column;
    align-items: center;
    padding: 1em;
    
    box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-webkit-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-moz-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
		
}

.cardAbonnement>h3{
    margin-bottom: 1em;
		
}

.titre2{
	color: var(--orange);
    font-size: 5vw;
    text-transform: uppercase;

    
}



.plateform_Button {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.plateform_Button:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.plateform_Button:active {
	position:relative;
	top:1px;
}



