@charset "ISO-8859-1";

.header {
	/* variables définies dans le mainStyle.css */
	background-color: var(--bleuClair);
	padding: 3em;
	height: 15vh;
	width: 100%;
	gap: 60px;
	align-items: center;
	display: flex;
}

.logoContainer {
	height: 100%;
    width: 20em;
}

.logoContainer img {
	
	object-fit: contain;
	border-radius: 50px;
}


.navigationContenaire{
	    position: sticky;
    top: 0px;
    z-index: 99999;
   background-color: #1C3659;
    backdrop-filter: blur(2px);
}
