@charset "ISO-8859-1";

:root {
	--blanc: #ffffff;
	--bleuFonce: #06375A;
	--bleuClair: #1B5680;
	--orange: #F5B37D;
	--rouge: #D52056;
}

*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.important {
	font-weight: 800;
}

.no-wrap-last-words {
  white-space: nowrap;
}

.iconsNavigation{
	height: 3em;
	fill: #ff0000;
	
}

	.imgPartenaire {
			width: 30%;
			height: 30em;
			margin-bottom: 2em;
			object-fit: cover;
		}

		.imgHero {
			height: 80vh;
			width: 100vw;
			object-fit: cover;
		}
		
		.rgpd {
			position: fixed;
			top: 0px;
			right: 0px;
			background-color: rgba(0, 0, 0, 0.32);
			width: 100vw;
			height: 100vh;
			align-items: center;
			justify-content: center;
		}
		
		.tatifCard {
			min-width: 22%;
		}
		
		.Intituledelement {
			padding-right: 2em;
			transform: rotate(270deg);
		}

.arroundBtn{
	
	display:flex;
	width:100%;
	padding:1em;
	
}



.menus {
    width: 0px;
    transition: all 1s ease-out;
  
}

.desable{
	transition: all 1s ease-out;
    flex: 0 0 auto;
    width: 15%;
}


.container{
    width: 85%;
}

.contain_80{
    height: 80vh;
}

.contain_50{
    height: 50vh;
}
.dualimgcontainer{
    display: flex;
    width: 100%;
    height: 21em;
    margin-top: 2em;
    justify-content: space-around;
}

.dualimgcontainer> img{
    height: 20em;
    width: 43%;
}

.imgdecaler{
    right: -32%;
    top: -52%;
}

.navBar{
    height: 4em;
    position: "fixed";
    top:0;
}

.sectionperso{
	height: 30em
	}

.imgPartenaire{
	width: 30%;
	height: 30em;
	margin-bottom: 2em;
	object-fit: cover;
	}
	
	
.scrollElement{
    height: 25em;
    overflow-y: scroll;
}
* {
   scrollbar-width: thin;
   scrollbar-color: var(--bleuFonce);
 }

 *::-webkit-scrollbar {
   width: 13px;
 }

 *::-webkit-scrollbar-track {
   background: var(--blanc);
 }

 *::-webkit-scrollbar-thumb {
   background-color:  var(--bleuFonce);
   border-radius: 14px;
   border: 3px double var(--blanc);
 }


.navbar{
	height:60px;
}

.imgLogo {
	height: 55px;
	margin: 55px;
}



.imgAccueil{
	 
            height: 80vh;
            width: 100vw;
            object-fit: cover;
}

.formContainer{
	
	height:75vh;
    align-items: center;
    justify-content: center;
}

.formContent{
	background-color:#ffffff69;
	backdrop-filter: blur(2px);
	box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-webkit-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-moz-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
   
}



.surface-card {
    overflow: hidden;
    text-align: center;
    width: 15vw;
    border-color: black;
       box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-webkit-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
	-moz-box-shadow: 10px 10px 19px -7px rgba(131,127,127,0.89);
   
   
}


.custom-white-text {
        color: white !important;
    }

.btn{
	align-items: center;
}

.card-header {
    background-color: #2596be;
    text-align: center;
     height: 100px;

}

.card-body {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
     height: 250px;
}

.card-footer {
    background-color: #1C3659;
    color: white;
    text-align: center;
     align-items: center;
height: 60px;
}

.imgIllu {
	height: 25vw;
	width: 95%;
	margin-left:50px;
}

.custom-carousel-image {
    width: 70%; /* ou la largeur que vous souhaitez */
    margin: auto; /* centre l'image horizontalement si nécessaire */
}
       

.rgpd{
            position: fixed;
            top: 0px; right: 0px;
            background-color: rgba(0,0,0,0.32);
            width: 100vw; height: 100vh;
            align-items: center;
            justify-content: center;
        }


.Intituledelement {

           padding-right: 2em;
           transform: rotate(270deg);
        }



@media screen and (min-width: 1400px){
    .dualimgcontainer{
        position: absolute;
        height: 21em;
        display: block;
         width: inherit;
        height:inherit;
         margin-top:inherit;
    }

  /*  .dualimgcontainer> img{
        position: relative;
        height: 21em;
        width: 34%;
    }*/
    
    .desable{
	transition: all 1s ease-out;
    flex: 0 0 auto;
    width: 10%;
}

    .contain{
        height: 80vh;
    }

}

/* **********************************************  A replacer**************** Désolé Loic, je ne savais pas où les mettre */
.img_index{
	max-width: 50%;
	max-height: 50%;
}

.img_index_content{
	max-width: 100%;
	max-height: 100%;
	border: solid 2px
}

.index_navbar{
	position: fixed;
	top: 0px;
	z-index: 9999;
	background-color: var(--bleuFonce);
}

.index_slogan{
	font-size : 1.25rem;
	margin-left: 2%;
	margin-right: 5%;
	color: var(--orange);
	text-align: center;
}

.plateform_logo{
	display: inline-block;
}

.sliderPlus{
	
	width:100vw
	
}

